.card__like {
  min-width: 22px;
  min-height: 19px;
  margin: 0;
  padding: 0;
  background: transparent url("../../../images/Like.svg") no-repeat center;
  border: none;
  transition: all 0.3s ease-in-out;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
